.ul 
{
    background: rgb(114, 48, 43);
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
}

.li > *
{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 231, 187);
}

