.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:  rgb(114, 48, 43);

  padding: 10px 20px;
  border-radius: 5px;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.dashboard div {
  margin-top: 7px;
}

.mainDashboardBtnContainer {
    margin: 2em;
    padding-top: 1em;
    background-color:  rgb(114, 48, 43);
    border-radius: 5px;
}

.mainDashboardBtn {
  width: 90%;
  background-color: rgb(128,128,128,0.4);

}

